[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/escalate/hugo-split-theme.git
[submodule "themes/careercanvas"]
	path = themes/careercanvas
	url = https://github.com/felipecordero/careercanvas.git
